body {
  /* allegedly the color of concrete very thematic */
  background-color: #C4B6A6;
}

.svg-path {
  animation-name: fadein;
  animation-duration: 500ms;

  /* stay at the `to` CSS once animation complete */
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    stroke-opacity: 0;
    stroke-width: 7;
  }
  to {
    stroke-opacity: 1;
    stroke-width: 3;
  }
}

