<h4>Pathfinding Configuration</h4>
</br>

<span>Cycleway Coefficient:</span>
<!-- <span id="{{ HtmlElementId.DepthValue }}">{{ TraversalDefaults.depth }}</span> -->
<br />

<input
  class="slider"
  id="{{ HtmlElementId.CyclewayCoefficientRange }}"
  type="range"
  min="0"
  max="1"
  step="0.1"
  value="{{ CostDefaults.CyclewayCoefficient }}">
<br />
