<h4>Rusty Bikes</h4>
<br />

<label for="mode-select">Mode:</label>
<select name="mode-select" id="mode-select">
  {{#each ModeMeta }}
  <option id="{{ @key }}" value="{{ @key }}">{{ label }}</option>
  {{/each}}
</select>

<hr>

<div id="{{ HtmlElementId.PanelParent }}">
  {{> routePanel }}
  {{> traversalPanel }}
</div>
