# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  push:
    # Runs on pushes targeting the default branch
    branches:
      - main
    # Runs on changes to the client only
    paths:
      - client/**

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: 'pages'
  cancel-in-progress: true

defaults:
  run:
    working-directory: client

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'
          cache-dependency-path: './client/yarn.lock'

      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Build
        run: yarn build
        env:
          VITE_RADAR_API_KEY: ${{ secrets.VITE_RADAR_API_KEY }}

      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload dist folder
          path: './client/dist'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
